params.output_dir = './'
params.code_dir = '/astro/mwasci/nhurleywalker/hpc-course/'

profiles {
    desktop {

      executor {
        name = 'local'
        cpus = 8
        memory = '15 GB'
      }

      process {
        publishDir = [path:params.output_dir, mode:'link', overwrite:true]
        maxForks = 2 // only run two 
      }
    
    }

    hpc {
      singularity {
        enabled = true
        envWhitelist = 'MAALI_SINGULARITY_HOME, SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      }

      executor {
        name = 'local'
	cpus = 28
	memory = '96 GB' // leave a generous overhead for containers
      }

      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       module = 'singularity'
      }
    }

}

